/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Setting defaults */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  background-color: black;
  /* 1rem = 10px */
}

/* General hide class */
.hidden {
  display: none;
}

.opacity {
  opacity: 1;
  animation: glowing 20s linear infinite, fadeIn 1s 0s 1;
}

/* |Front page| Nav-bar Section Start*/

header {
  overflow: hidden;
}

.nav-section {
  position: fixed;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem, 10%;
  z-index: 10000;
}

.nav-section > img,
nav,
a,
button {
  cursor: pointer;
}

li,
a,
button {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.cflogo {
  margin-left: 1.5rem;
}

.nav-links {
  list-style: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0rem 3.5rem;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #dc1fff;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ffa3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cta1 {
  margin: 0rem 3.5rem 0rem 0rem;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50px;
  z-index: 3;
}

button {
  padding: 1rem 2.5rem;
  color: black;
  background-image: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: relative;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: 1000;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite, fadeOut 1s 0s 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
  border: transparent;
  font-weight: 700;
}

button:hover {
  color: black;
  filter: blur(0px);
  animation: glowing 20s linear infinite, fadeIn 1s 0s 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes fadeIn {
  0% {
    filter: blur(5px);
  }
  50% {
    filter: blur(2.5px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes fadeOut {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(2.5px);
  }
  100% {
    filter: blur(5px);
  }
}

/*Dropdown menu */
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 4;
  position: relative;
  right: -755%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
/* |Front page| Nav-bar Section End */

/* |Front page| Header Start */

.main-header {
  min-height: 110rem;
}

.header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  height: 92rem;
  z-index: 1;
}

.header-text {
  font-size: 12rem;
  font-family: "Press Start 2P", sans-serif;
  z-index: 3;
  color: white;
  animation: dropDown 0.5s 1 ease-in;
}

@keyframes dropDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-subtext {
  padding-left: 15rem;
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
  color: white;
  animation: pushUp 1s 1 ease-in;
}

@keyframes pushUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.explore-anchor {
  position: relative;
  top: -15rem;
  left: 65%;
}

.btn1 {
  padding: 1rem 2.5rem;
  color: rgb(54, 11, 11);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Press Start 2P", sans-serif;
  background-image: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  cursor: pointer;
  position: relative;
  background-size: 400%;
  z-index: 1000;
  border-radius: 50px;
  border: transparent;
  animation: glowing 20s linear infinite, fadeIn 1s 0s 1;
}

.btn1:hover {
  box-shadow: 5px 5px 15px rgba(145, 92, 182, 0.4);
}
/* |Front page| Header End */

/* |Section 1| Start */

#explore {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  top: 110rem;
  background: transparent;
}

.section1 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 15rem;
  width: 100%;
  z-index: 1;
  min-height: 110rem;
  padding-top: 15rem;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
  opacity: 0;
  padding-bottom: 5rem;
  overflow: hidden;
}

.active {
  opacity: 1;
  transform: scale(1);
}

.section1-header-text {
  position: absolute;
  top: 10%;
  left: 20vw;
  font-family: "Press Start 2P", sans-serif;
  font-size: 6vw;
  color: white;
  animation: dropDown 0.5s 1 ease-in, glowing1 1s ease-in-out infinite alternate;
  display: block;
}

@keyframes glowing1 {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  to {
    text-shadow: 0 0 40px rgba(145, 92, 182, 1);
  }
}

.section1-header-subtext {
  position: relative;
  font-size: 2.5vw;
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 75%;
  left: 5%;
}

.early {
  display: block;
  line-height: 5em;
}
/* Hover modal section */

.hover-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  width: 17rem;
}

.hover-icons {
  list-style: none;
  height: 100%;
}
.hover-menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 45rem;
  width: 80%;
}
.hover-modals {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

/*Modal 1*/
.modal1 {
  transition: all 0.5s ease-in-out;
}

.modal1-box {
  position: relative;
  width: 100%;
  height: 6rem;
  padding-top: 2rem;
}

.modal1Animate {
  color: rgb(235, 26, 207);
  transform: translateX(4rem);
}

.modal1-text {
  visibility: hidden;
  color: rgb(235, 26, 207);
  display: block;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.8vw;
}

.modal-span1 {
  color: rgb(20, 201, 20);
}
.modal-span2 {
  color: rgb(235, 26, 207);
  display: block;
  padding-top: 3rem;
}

/*Modal 2*/
.modal2 {
  transition: all 0.5s ease-in-out;
}

.modal2-box {
  position: relative;
  width: 100%;
  height: 6rem;
  padding-top: 2rem;
}
.modal2Animate {
  color: rgb(20, 201, 20);
  transform: translateX(4rem);
}

.modal2-text {
  visibility: hidden;
  color: rgb(20, 201, 20);
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.8vw;
}

.modal-span3 {
  color: rgb(255, 0, 0);
}

/*Modal 3*/
.modal3 {
  transition: all 0.5s ease-in-out;
}

.modal3-box {
  position: relative;
  width: 100%;
  height: 6rem;
  padding-top: 2rem;
}

.modal3Animate {
  color: rgb(59, 92, 201);
  transform: translateX(4rem);
}

.modal3-text {
  visibility: hidden;
  color: rgb(59, 92, 201);
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.8vw;
}

.modal-span4 {
  color: rgb(59, 92, 201);
  display: block;
  padding-top: 3rem;
}

.modal-span5 {
  color: rgb(182, 241, 43);
}

/*Modal 4*/
.modal4 {
  transition: all 0.5s ease-in-out;
}

.modal4-box {
  position: relative;
  width: 100%;
  height: 6rem;
  padding-top: 2rem;
}

.modal4Animate {
  color: rgb(194, 197, 31);
  transform: translateX(4rem);
}

.modal4-text {
  visibility: hidden;
  color: rgb(194, 197, 31);
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.8vw;
}
.modal-span6 {
  color: rgb(226, 10, 208);
}

/*Modal 5*/
.modal5 {
  transition: all 0.5s ease-in-out;
}

.modal5-box {
  position: relative;
  width: 100%;
  height: 6rem;
  padding-top: 2rem;
}

.modal5Animate {
  color: rgb(253, 0, 0);
  transform: translateX(4rem);
}

.modal5-text {
  visibility: hidden;
  color: rgb(253, 0, 0);
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.8vw;
}

.modal-span7 {
  color: rgb(189, 209, 13);
}

.modal-position {
  position: absolute;
  left: 20%;
}

.fa-solid {
  position: relative;
  left: 20%;
  font-size: 2vw;
}
/* |Section 1|  End */
/* |Section 2| Start */
.section2 {
  position: relative;
  min-height: 120rem;
  /* border-top: 5px solid white; */
  overflow: hidden;
  padding-top: 20rem;
}

.section2-header-box {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10vw;
  top: 15vh;
}

.section2-header-text {
  display: flex;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: 4vw;
  width: 100%;
}

.title-span {
  padding-top: 0.5rem;
  font-size: 1.25vw;
  font-family: "Press Start 2P", sans-serif;
  z-index: 3;
  color: white;
}

.power {
  display: flex;
  animation: hovering 5s 1s ease-in-out forwards;
  animation-iteration-count: infinite;
}

@keyframes hovering {
  0% {
    position: relative;
    transform: translateY(0%);
    color: white;
  }
  10% {
    transform: translateY(-7px);
    position: relative;
    color: red;
  }
  20% {
    transform: translateY(0px);
    position: relative;
    color: white;
  }

  100% {
    transform: translateY(0px);
    position: relative;
    color: white;
  }
}

.section2-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 10rem;
  top: 30vh;
  gap: 5rem;
}

.section2-description-box {
  display: flex;
  flex-direction: column;
}

.section2-href-title {
  font-size: 2.5vw;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
  color: white;
  padding-bottom: 5rem;
  padding-left: 8.5rem;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: 30rem;
}

.star-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.href-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.href-style {
  font-size: 2.5vw;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
  color: white;
}

.sec2-modal-box {
  /*Placeholder for Flexbox functionality */
}

.option-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45vh;
  width: 20vw;
  border-radius: 5rem;
  background-image: linear-gradient(45deg, #00ffa3, #03e1ff, #dc1fff, #306a9c);
  background-size: 600%;
  z-index: 1000;
  border: transparent;
  animation: glowingOption 15s linear infinite;
}

@keyframes glowingOption {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.option1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 3rem;
}

.cta-exchange {
  background: red;
  padding: 1.2rem 2.5rem;
  color: rgb(54, 11, 11);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Press Start 2P", sans-serif;
  cursor: pointer;
  background-size: 400%;
  border: transparent;
  border-radius: 10rem;
  width: 100%;
  display: flex;
}

.cta-exchange:hover {
  animation: hoverUp 1s ease-in-out forwards;
  animation-iteration-count: infinite;
}

.exchange-sidenote {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Press Start 2P", sans-serif;
  opacity: 0;
}

.option2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 3rem;
}

.cta-academy {
  background: red;
  padding: 1.2rem 2.5rem;
  color: rgb(54, 11, 11);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Press Start 2P", sans-serif;
  cursor: pointer;
  background-size: 400%;
  border: transparent;
  border-radius: 10rem;
  width: 80%;
}

.cta-academy:hover {
  animation: hoverUp 1s ease-in-out forwards;
  animation-iteration-count: infinite;
}

.academy-sidenote {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Press Start 2P", sans-serif;
  opacity: 0;
}

.option3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.cta-legion {
  background: red;
  padding: 1.2rem 2.5rem;
  color: rgb(54, 11, 11);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Press Start 2P", sans-serif;
  cursor: pointer;
  background-size: 400%;
  border: transparent;
  border-radius: 10rem;
  width: 80%;
}

.cta-legion:hover {
  animation: hoverUp 1s ease-in-out forwards;
  animation-iteration-count: infinite;
}

.legion-sidenote {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Press Start 2P", sans-serif;
  opacity: 0;
}

@keyframes hoverUp {
  0% {
    position: relative;
    transform: translateY(0%);
    color: white;
  }

  50% {
    position: relative;
    transform: translateY(-7px);
    color: white;
  }

  100% {
    transform: translateY(0%);
    position: relative;
    color: white;
  }
}

/* |Section 2|  End */

/* ///////////// */
/* Media Queries */

@media (max-width: 1810px) {
  .nav-links li {
    padding: 0rem 2.5rem;
  }
  a {
    font-size: 1.75rem;
  }
  .header-text {
    font-size: 10rem;
  }
}

@media (max-width: 1700px) {
  .nav-links li {
    padding: 0rem 2.2rem;
  }
}

@media (max-width: 1600px) {
  .nav-links li {
    padding: 0rem 1.8rem;
  }
  a {
    font-size: 1.5rem;
  }
}

@media (max-width: 1520px) {
  .header-text {
    font-size: 8rem;
  }
}

@media (max-width: 1460px) {
  .nav-links li {
    padding: 0rem 1.8rem;
  }
  a {
    font-size: 1.5rem;
  }
}

@media (max-width: 1300px) {
  .nav-links li {
    padding: 0rem 1.7rem;
  }
  a {
    font-size: 1.3rem;
  }
}

@media (max-width: 1220px) {
  .nav-links li {
    padding: 0rem 0.6rem;
  }
  .section1-header-text {
    top: 20%;
  }
  .modal1-box {
    height: 3rem;
    padding-top: 0rem;
  }
  .modal2-box {
    height: 3rem;
    padding-top: 0rem;
  }
  .modal3-box {
    height: 3rem;
    padding-top: 0rem;
  }
  .modal4-box {
    height: 3rem;
    padding-top: 0rem;
  }
  .modal5-box {
    height: 3rem;
    padding-top: 0rem;
  }
  .header-text {
    font-size: 8rem;
  }
  .header-text {
    font-size: 7rem;
    padding-bottom: 2rem;
  }
  .header-subtext {
    font-size: 5.5rem;
  }
}

@media (max-width: 1100px) {
  .header-text {
    font-size: 5.8rem;
    padding-bottom: 2rem;
  }
  .header-subtext {
    font-size: 3.8rem;
    left: 0.3%;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .underline {
    color: black;
  }
  .nav-link {
    margin: 16px 0;
  }
  .nav-links.active {
    padding-top: 10rem;
    left: 0;
    height: 100vh;
    z-index: 3;
    display: flex;
    gap: 3%;
  }
  .cflogo {
    width: 7rem;
    padding-bottom: 1rem;
  }
  .cta1,
  button {
    visibility: hidden;
  }
  .hamburger {
    position: relative;
    right: -2055%;
  }
  .explore-anchor {
    top: -25rem;
    left: 65%;
  }
}

@media (max-width: 1000px) {
  .hamburger {
    position: relative;
    right: -1855%;
  }
  .section1 {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .hover-menu {
    width: 80%;
  }
  .hover-icons {
    margin-right: -10rem;
  }
  .section1-header-text {
    top: 15rem;
    animation: none;
  }
  .hover-list {
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (max-width: 930px) {
  .header-text {
    font-size: 10vw;
    left: 10vw;
  }
  .header-subtext {
    font-size: 4.5rem;
    left: -4%;
  }
}

@media (max-width: 900px) {
  .hamburger {
    position: relative;
    right: -1655%;
  }
}

@media (max-width: 850px) {
  .header-text {
    font-size: 10rem;
  }
  .header-subtext {
    font-size: 4rem;
    left: -8%;
  }
  .hamburger {
    position: relative;
    right: -1555%;
  }
}

@media (max-width: 800px) {
  .header-text {
    font-size: 9rem;
    top: -2rem;
  }
  .header-subtext {
    font-size: 4rem;
    top: -3%;
  }
}

@media (max-width: 770px) {
  .header-text {
    font-size: 8rem;
    top: -2rem;
  }
  .header-subtext {
    font-size: 3.5rem;
    top: -3%;
  }

  .hamburger {
    position: relative;
    right: -1455%;
  }
  .fa-solid {
    position: relative;
    left: 20%;
    font-size: 3.5vw;
  }
}

@media (max-width: 700px) {
  .header-text {
    font-size: 7rem;
    top: -2rem;
  }
  .header-subtext {
    font-size: 3rem;
    top: -3%;
    padding-left: 10rem;
  }
  .hamburger {
    position: relative;
    right: -1200%;
  }
}

@media (max-width: 600px) {
  .hover-modals {
    font-size: 4vw;
  }
  .section1-header-subtext {
    font-size: 4vw;
  }
  .section1-header-text {
    font-size: 4.4rem;
  }
}

@media (max-width: 562px) {
  .header-text {
    font-size: 6rem;
    top: -2rem;
  }
  .header-subtext {
    font-size: 2.6rem;
    top: -3%;
  }
  .hamburger {
    position: relative;
    right: -1055%;
  }
  .explore-anchor {
    top: -30rem;
    left: 50%;
  }
  .modal-position {
    top: 25%;
  }
  .section1-header-text {
    position: absolute;
    left: 15vw;
    font-size: 7vw;
  }
}

@media (max-width: 500px) {
  .header-text {
    font-size: 6rem;
    top: -2rem;
  }
  .header-subtext {
    font-size: 2.4rem;
    top: -3%;
  }
  .hamburger {
    position: relative;
    right: -1055%;
  }
}

@media (max-width: 470px) {
  .header-text {
    font-size: 5rem;
    top: -5rem;
  }
  .header-subtext {
    font-size: 2.2rem;
    top: -6%;
  }
  .hamburger {
    position: relative;
    right: -900%;
  }
  .explore-anchor {
    top: -35rem;
    left: 40%;
  }
}

@media (max-width: 440px) {
  .header-text {
    font-size: 5.1rem;
    top: -6rem;
  }
  .header-subtext {
    font-size: 2.1rem;
    padding-left: 4.3rem;
    top: -7%;
    left: -1rem;
  }
  .hamburger {
    position: relative;
    right: -900%;
  }
}

@media (max-width: 413px) {
  .header-text {
    font-size: 4.4rem;
    top: -8rem;
  }
  .header-subtext {
    font-size: 2rem;
    top: -8%;
  }
  .hamburger {
    position: relative;
    right: -700%;
  }
  .section1-header-text {
    font-size: 7vw;
  }
}

@media (max-width: 380px) {
  .header-text {
    font-size: 4.3rem;
    top: -5rem;
    left: 2%;
  }
  .header-subtext {
    font-size: 1.7rem;
    top: -6%;
  }
}

@media (max-width: 375px) {
  .header-text {
    font-size: 4.3rem;
    top: -5rem;
    left: 2%;
  }
  .header-subtext {
    font-size: 1.7rem;
    top: -6%;
  }
}

@media (max-width: 350px) {
  .header-text {
    font-size: 4rem;
    top: -5rem;
    left: 2%;
  }
  .header-subtext {
    font-size: 1.7rem;
    top: -6%;
  }
}

@media (max-width: 310px) {
  .hamburger {
    position: relative;
    right: -550%;
  }
  .header-text {
    font-size: 3rem;
    top: -15rem;
    left: 1rem;
  }
  .header-subtext {
    font-size: 2.3rem;
    left: 2%;
    top: -13%;
  }
}

@media (max-width: 250px) {
  .hamburger {
    position: relative;
    right: -400%;
  }
  .header-text {
    font-size: 2.7rem;
    top: -15rem;
  }
  .header-subtext {
    font-size: 1.8rem;
    top: -13%;
    left: -6%;
  }
}
