/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Setting defaults */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

/* General hide class */
.hidden {
  display: none;
}

.opacity {
  opacity: 0;
}

/* |Front page| Nav-bar Section Start*/

header {
  overflow: hidden;
}

.nav-section {
  position: fixed;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem, 10%;
  z-index: 10000;
}

.nav-section.sticky {
  opacity: 0.8;
}

.nav-section > img,
nav,
a,
button {
  cursor: pointer;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.cflogo {
  margin: 0rem 0rem 0rem 1.5rem;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0rem 7.55rem;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #dc1fff;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ffa3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cta1 {
  margin: 0rem 3.5rem 0rem 0rem;
}

button {
  padding: 0.9rem 2.5rem;
  color: black;
  border: transparent;
  border-radius: 50px;
  background: linear-gradient(90deg, #00ffa3, #dc1fff);
  background-size: 48%;
  background-clip: padding-box;
  background-repeat: repeat-y;
  animation: AnimationName 2s ease infinite;
  transition: all 1s ease-in-out;
}

button:hover {
  background: linear-gradient(to right, #00ffa3, #dc1fff);
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* |Front page| Nav-bar Section End */

/* |Front page| Header Start */

.main-header {
  min-height: 110rem;
}

.header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100vw;
  height: 92rem;
  z-index: 1;
}

.header-text {
  font-size: 12rem;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
  color: white;
}
.header-subtext {
  padding-left: 15rem;
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
  color: white;
}

/* |Front page| Header End */

/* |Section 1| Start */

.section1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 600px;
  z-index: 1;
  background: linear-gradient(#00ffa3, #03e1ff, #dc1fff, #306a9c);
}

.section1-header-text {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
}

/* To be moved elsewhere */

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 4;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 1600px) {
  .nav-links li {
    padding: 0rem 4.55rem;
  }
}

@media (max-width: 1300px) {
  .nav-links li {
    padding: 0rem 2.55rem;
  }
}

@media (max-width: 1100px) {
  .header-text {
    font-size: 10rem;
  }
  .header-subtext {
    font-size: 5rem;
    padding-left: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .underline {
    color: black;
  }
  .nav-link {
    margin: 16px 0;
  }
  .nav-links.active {
    padding-top: 10rem;
    left: 0;
    height: 100vh;
    z-index: 3;
    display: flex;
    gap: 3%;
  }
  .cflogo {
    width: 7rem;
  }
  .nav-section.sticky {
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .header-text {
    font-size: 9rem;
    top: -5rem;
    left: 2%;
  }
  .header-subtext {
    font-size: 4rem;
    left: 4%;
  }
}

@media (max-width: 380px) {
  .header-text {
    font-size: 7rem;
    top: -15rem;
    left: 6%;
  }
  .header-subtext {
    font-size: 3rem;
    top: -10%;
    left: 4%;
  }
}

@media (max-width: 375px) {
  .header-text {
    font-size: 7rem;
    top: -15rem;
    left: 6%;
  }
  .header-subtext {
    font-size: 3rem;
    top: -10%;
    left: 4%;
  }
}
